<br>
<br>
<footer class="panel-footer">
  <p class="text-center">Copyright {{getCurrentYear}}</p>
</footer>
<script type="text/javascript" src="scripts/slick.min.js"></script>
<script src="scripts/common.js"></script>