<header class="navbar navbar-light navbar-static-top ts-navbar">
  <div class="brand-logo">
    <a href="/"><img src="/images/brand-logo.png"></a>
    <span class="page-title">{{appTitle}}</span>
    <!-- <div>WELCOME : Kamalakannan Chennappan
      <br><a href="http://idm.mattel.com.mattelcloud.com?username=chennap1" target="_blank">Change your password</a>
    </div> -->
  </div>
{{#if hasNav}}
  {{>mainnav}}
{{/if}}
</header>
