<!DOCTYPE html>
<html>
{{>headinclude}}

<body class = "container-fluid">
  {{>header}}
  <input type="hidden" id="oo-player-pcode" value="s5Z2MyOlF46r3PXZUl9hPiwU2cYK" />
    <div class="hiddenPlayerIds" id="oo-player-id">
      <input type="hidden" value="eb2a4912cd64bc282805e03574a056c"/>
    </div>

    <!-- <div id='container' style='width:640px;height:480px'></div> -->
    <div class="player-wrapper" style="width: 100%; height: 100%;">
        <div class="ooyala-video-player" data-contains-thumbnailNreload ="true" id="player-container" data-video-id="Q4cHVqYjE6c6m8LbM1Kj2GfuRFs66QxB" data-autoplay="true">
        </div>
    </div>
    {{>footer}}

  <script src='scripts/ooyala-master-plugin.js'></script>
    <script src='scripts/OoyalaVideoPlayer.js'></script>
  </body>
</html>
