<!DOCTYPE html>
<html>
{{>headinclude}}

<body class = "container-fluid">
  {{>header}}
    <div id='container' style='width:640px;height:480px'></div>
    <script src='//player.ooyala.com/v3/eb2a4912cd64bc282805e03574a056c'></script>
    <div id='ooyalaplayer' style='width:1280px;height:720px'></div>
    <script>
      OO.ready(function() { OO.Player.create('ooyalaplayer', 'Q4cHVqYjE6c6m8LbM1Kj2GfuRFs66QxB',{
          height:"100%",
          width:"100%",
          adSetCode: "your Backlot ad set code",
          "vast":{
              tagUrl: "some url"
           }
        }); });
    </script>
    <noscript><div>Please enable Javascript to watch this video</div></noscript>
  </body>
</html>
