<!DOCTYPE html>
<html>
{{>headinclude}}

<body>
  <div class="hiddenPlayerIds" id="oo-player-id" style="display: none;">
    <input type="hidden" value="eb2a4912cd64bc282805e03574a056c">
  </div>
  <input type="hidden" id="oo-player-pcode" value="s5Z2MyOlF46r3PXZUl9hPiwU2cYK" /> {{>header}}
  <div class="hwn-video-player" id="" data-autoplay="true" data-intervals="[5000,5000]">
    <div class="video-wrapper player-wrapper" style=''>
      <div data-singleplayer="true" class="ooyala-video-player" id="player-container" data-video-id="l5MXNmYTE6HYiUdjtYAdWE_7x3uhD9Yu" data-autoplay="true" style="width: 100%; height: 100%; position: absolute;">
      </div>
    </div>
  </div>

  {{>footer}}
  <script src='http://static.mattel.com/videoplayer/src/js/v4/MattelVideoPlayer.js'></script>
</body>

</html>
