<!DOCTYPE html>
<html>
{{>headinclude}}

<body class = "container-fluid">
  <div class="">
    <div class="hiddenPlayerIds" id="oo-player-id" style="display: none;">
      <input type="hidden" value="QOlQApHb">
    </div>
    <input type="hidden" id="oo-player-pcode" value="s5Z2MyOlF46r3PXZUl9hPiwU2cYK" />

    {{>header}}

    {{>player}}
  {{>footer}}
  </div>
  <script src='scripts/MattelVideoPlayer.js'></script>
</body>

</html>
