<!DOCTYPE html>
<html>
{{>headinclude}}

<body class = "container-fluid">

<script src='//player.ooyala.com/v3/eb2a4912cd64bc282805e03574a056c'></script>
<div id='ooyalaplayer' style='width:1280px;height:720px'></div>
<script>
  OO.ready(function() { OO.Player.create('ooyalaplayer', 'x1ZTNuYjE6zTFYXIfMj6QYPAyK8feoAL'); });
</script>
<noscript><div>Please enable Javascript to watch this video</div></noscript>

</body>

</html>
