<!DOCTYPE html>
<html>
{{>headinclude}}

<body class="container-fluid">
  {{>header}}
  <script src="//content.jwplatform.com/players/6x0GWItI-QOlQApHb.js"></script> {{>footer}}
  <!-- <script src="./scripts/js/ad_manager_vast.js"></script> -->
</body>

</html>
